body{
    height: 100vh;
    background-image: url('./llu.png');
    /* background:  linear-gradient(red,black); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

img{
    height: 500px;
    width: 700px;
}

.login-box{
    width:100%;
}
/* .izquierda{
    height: 50vh;
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.derecha{
    height: 50vh;
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.letra{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 50px;
    font-weight: 10px;
    -webkit-text-stroke:1px black ;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6c0386 ;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: solid black;
    border-width: 10px ;
}

.marca{
    align-self: center;
    height: 70px;
    width: 70px;
    padding:20px;
    border: solid black;
    border-radius:30px ;
    background-color: white ;
    border-width:5px ;
}

.imagen{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

input{
    width: 200px ;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin:5px;
    border:solid black

}

.input{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.PEPE{
    width: 95px ;
    border:solid black
}

.PEPE:hover{
    height: 25px;
    width: 100px; ;
}