<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ModificarProducto" method="POST">
        <input type="text" placeholder="ID" name="ID" value="{{index}}" readonly>
        <input type="text" placeholder="nombre" name="nombre">
        <input type="text" placeholder="precio" name="precio">
        <input type="text" placeholder="existencias" name="existencias">
        <label for="formato">Selecciona el formato:</label>
            <select id="formato" name="formato">
                <option value="fisico">Físico</option>
                <option value="digital">Digital</option>
            </select>
        <input type="submit" value="Actualizar">
    </form>
</body>
</html>