<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/indice.css">
    <link rel="stylesheet" type="text/css" href="./static/css/indice1.css">
    <title>Clientes</title>
</head>
<body>
    <img src="./static/css/controlar.png" class="Logo">
    <h3 class="tittle">Lista de clientes</h3>
    <table class="General">
        <thead>
            <tr class="encabezado">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="tabla">
            {% for row in cliente %}
            <tr>
                <td class="arreglo">{{row[1]}}</td>
                <td class="arreglo">{{row[2]}}</td>
                <td class="arreglo">{{row[3]}}</td>
                <td class="arreglo">{{row[5]}}</td>
                <td class="btn"><img src="./static/css/actualizar.png"></td>
                <td class="btn"><img src="./static/css/eliminar.png"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>