<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/indice.css">
    <title>Ventas</title>
</head>
<body>
    <table class="General">
        <thead>
            <tr class="encabezado">
                <th>Articulos</th>
                <th>Monto Total</th>
            </tr>
        </thead>
        <tbody class="contenido">
            {% for row in Ventas %}
            <tr>
                <!-- <td>{{row[0]}}</td> -->
                <td>{{row[2]}}</td>
                <td>{{row[4]}}</td>
                <td><button>Presione para eliminar</button></td>
                <td><button>Presione para actualizar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>